
@import 'partials/config.scss';

body{
    @include flexCenter();
    height: 100vh;
    background: lightblue;
}

button{
    background: white;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: darkblue;
    cursor: pointer;
    opacity: 0.85;
    width: 100px;

    &:hover{
        opacity: 1;
    }

    &:focus{
        outline: 0;
    }
}

h1{
    color: white;
    font-size: 40px;
}